
<div class="container-fluid">
    <div class="row ">
        <h3>{{title}}</h3>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="md-form mt-0 active-pink-3 active-pink-4 mb-4">
                <p>Search with name , categories , glasses , ingredients and alcoholic filters</p>
                <input class="form-control" [(ngModel)]="searchedItem" type="text" placeholder="Search" aria-label="Search" (ngModelChange)="searchItem($event)">
            </div>
        </div>
      </div>
      <div class="row" *ngFor="let item of randomCoctails">
          <div class="col-sm-12" *ngFor="let item of randomCoctails">
            <div class="card">
                <div class="card-body">
                    <img class="img-fluid" src="{{item.strDrinkThumb}}" alt="thumbnail"  height="150px" width="150px"/>
                    <div class="main">{{item.strDrink}}<div class="desc">{{item.strInstructions}}</div>   </div>
                </div>
              </div>
          </div>
      </div>
      <div class="row" *ngIf="!randomCoctails">
        <div class="col-sm-12">
            <div class="card">
                    <h5>No data to show</h5>
              </div>
          </div>
    </div>
</div>
